In [1]:
import pandas as pd

In [4]:
pwd

'c:\\Users\\juand\\Desktop\\UNIVERSIDAD\\PP\\Trabajos_Personales\\Curso_ML_Python'

In [6]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El n�mero de serie del volumen es: A8BF-5C62

 Directorio de c:\Users\juand\Desktop\UNIVERSIDAD\PP\Trabajos_Personales\Curso_ML_Python

03/08/2023  04:35 p.�m.    <DIR>          .
02/08/2023  04:55 p.�m.    <DIR>          ..
01/08/2023  09:03 p.�m.    <DIR>          .vscode
02/08/2023  05:03 p.�m.            24.545 arreglos.ipynb
03/08/2023  04:14 p.�m.            66.971 dataframes.ipynb
03/08/2023  04:35 p.�m.             5.508 Ejemplo_excel.xlsx
03/02/2023  02:11 p.�m.               792 EjerciciosBasicos.py
03/08/2023  04:35 p.�m.             2.255 ficherosEXCEL.ipynb
03/08/2023  04:32 p.�m.             8.647 OperacionesDF.ipynb
03/08/2023  04:23 p.�m.             6.975 P2dataframes.ipynb
02/08/2023  07:16 p.�m.             3.029 series.ipynb
               8 archivos        118.722 bytes
               3 dirs  155.355.783.168 bytes libres

In [8]:
dataframe = pd.read_excel('Ejemplo_excel.xlsx')
dataframe

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [9]:
dataframe['e'] = [20,21,22,23]
dataframe

   Unnamed: 0   a   b   c   d   e
0           0   0   1   2   3  20
1           1   4   5   6   7  21
2           2   8   9  10  11  22
3           3  12  13  14  15  23

In [10]:
dataframe.to_excel('salida_excel.xlsx', sheet_name = 'Hoja1')

<ipython-input-10-0215f5647b21>:1: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  dataframe.to_excel('salida_excel.xlsx', sheet_name = 'Hoja1')