In [1]:
import numpy as np
import pandas as pd

In [2]:
diccionario = {'A' : [11,12,10,11], 'B' : [14,18,16,17]}
dataframe = pd.DataFrame(diccionario, index = ['i1', 'i2', 'i3', 'i4'])
dataframe

     A   B
i1  11  14
i2  12  18
i3  10  16
i4  11  17

In [3]:
dataframe['A'].unique()

array([11, 12, 10], dtype=int64)

In [4]:
dataframe['A'].nunique()

3

In [5]:
dataframe['A'].value_counts()

11    2
12    1
10    1
Name: A, dtype: int64

In [6]:
def multiplicar (x):
    return x*2

In [7]:
dataframe

     A   B
i1  11  14
i2  12  18
i3  10  16
i4  11  17

In [8]:
dataframe['A'].apply(multiplicar)

i1    22
i2    24
i3    20
i4    22
Name: A, dtype: int64

In [9]:
dataframe['A'].apply(lambda x : x*2)

i1    22
i2    24
i3    20
i4    22
Name: A, dtype: int64

In [11]:
dataframe.columns

Index(['A', 'B'], dtype='object')

In [13]:
dataframe.index

Index(['i1', 'i2', 'i3', 'i4'], dtype='object')

In [14]:
dataframe.sort_values('B')

     A   B
i1  11  14
i3  10  16
i4  11  17
i2  12  18