## Join DataFrame

In [1]:
import numpy as np
import pandas as pd

In [12]:
diccicionario = {'A' : [11,12,13,14,15], 'B' : [16,17,18,19,20]}
dataframe1 = pd.DataFrame(diccicionario, index = ['i1', 'i2', 'i3','i4','i5'])
dataframe1

     A   B
i1  11  16
i2  12  17
i3  13  18
i4  14  19
i5  15  20

In [13]:
diccicionario2 = {'C' : [111,112,113,114], 'D' : [114,115,116,117]}
dataframe2 = pd.DataFrame(diccicionario2, index = ['i1', 'i2', 'i3','i4'])
dataframe2

      C    D
i1  111  114
i2  112  115
i3  113  116
i4  114  117

In [14]:
dataframe1.join(dataframe2)

     A   B      C      D
i1  11  16  111.0  114.0
i2  12  17  112.0  115.0
i3  13  18  113.0  116.0
i4  14  19  114.0  117.0
i5  15  20    NaN    NaN